**/data/
**/checkpoint/
**/__pycache__/
**/nq-tables/
**/.DS_Store/
**/tmp/

commands/
FEVEROUS*/
results/
templates-full/

**/*.db
**/*cache
**/*.npy
**/*.json
**/*.jsonl

**/run_my*.py
grsr-full.ipynb